###
### MATHEMATICS 2017 Pre-Post test configuration
###

MATHEMATICS.2017.config <- list(
	MATHEMATICS.2017.FS.config=list(
		sgp.content.areas=c('MATHEMATICS', 'MATHEMATICS'),
		sgp.panel.years=c('2016_2017.1', '2016_2017.3'),
		sgp.grade.sequences=list(c('3.1', '3.3'), c('4.1', '4.3'), c('5.1', '5.3'), c('6.1', '6.3'), c('7.1', '7.3'), c('8.1', '8.3'))))
