###
### MATHEMATICS 2014 configuration
###

MATHEMATICS.2014.config <- list(
	MATHEMATICS.2014.FS.config=list(
		sgp.content.areas=c('MATHEMATICS', 'MATHEMATICS'),
		sgp.panel.years=c('2013.2', '2014.1'),
		sgp.grade.sequences=list(c('3.2', '3.1'), c('4.2', '4.1'), c('5.2', '5.1'), c('6.2', '6.1'), c('7.2', '7.1'), c('8.2', '8.1'))))
